<nav>
        <div class="nav-bar">

            <div class="left-side">
                <div class="Algoviz">
                    <span class="algo">
                        Algo<span class="viz">Viz</span>
                    </span>
                </div>
            </div>
            <div class="right-side">
                <button class="header-buttons" onclick="location.href='index.html'">Home</button>
                <button class="header-buttons" onclick="location.href='explore.html'">Modules</button>
                <button class="header-buttons" onclick="location.href='sorting.html'">AI Assistant</button>
                <button class="header-buttons" onclick="location.href='about.html'">About</button>
                <button class="get-started-button" onclick="location.href='modules.html'">Get Started</button>
                <!-- <button class="header-buttons ">Get Started</button> -->
            </div>
            <div class="hamburger">
                <button class="hamburger-button">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
    </nav>