/* algo-viz-footer */
.algo-viz-footer li{
  list-style: none;
  margin-top: 0.75rem; /* Same as space-y-3 */
}
.algo-viz-footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(243 244 246 );

}

.nav-logo {
    height: 30px;
    width: 34px;
    margin-right: 1px;
}

.algo-viz-footer-box{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}
.algo-viz-footer-up{
    display: flex;
    justify-content: space-between;
}

.algo-viz-footer-leftside{
    margin-bottom: 2rem;
}

.para{
    color:rgb(75, 85,95);
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.algo-viz-footer-para{
    
    max-width: 20rem;
    margin-top: 0.5rem;
}

.algo-viz-footer-rightside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.algo-viz-footer-heading{
    color:rgb(17 24 39);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.algo-viz-footer-sub{
    color: rgb(75 85 99);
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-decoration:none;
}
.algo-viz-footer-sub:hover{
    color:rgb(32, 36, 41);
}
.algo-viz-footer-down{
    padding-top: 2rem;
    border-top: solid;
    border-color: rgb(229 231 235 );
    border-top-width:2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    /* flex-direction: row; */
}

.algoviz-footer-icons{
    display: flex;
    margin-top: 1rem;
    gap: 1.5rem; /* Space between icons */
    justify-content: center; /* Center the icons */
    flex-wrap: wrap;
    overflow: visible;
}

.algoviz-footer-icon{
    color: rgb(75 85 99 );
}

.algoviz-footer-icon:hover {
    color: #000; /* Black on hover */
}

/* Icon sizing */
.h-6 {
    height: 1.5rem;
}
.w-6 {
    width: 1.5rem;
}


/* Mobile Responsive Footer */
@media (max-width: 768px) {
    .algo-viz-footer-up {
        flex-direction: column;
    }
    
    .algo-viz-footer-rightside {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
    .algo-viz-footer-down {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    
    .algoviz-footer-icons {
        justify-content: center;
    }
    
    .algo-viz-footer-leftside {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .algo-viz-footer-para {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .algo-viz-tag-box{
        
         text-align: center;
    }
    .algo-viz-tag-box ul {
        text-align: center; /* Add this line */
        padding: 0;
        list-style: none;
    }
    .algo-viz-tag-box li {
        display: flex; /* Add this */
        justify-content: center; /* Add this */
    }
}

/* For very small screens */
@media (max-width: 480px) {
    .algo-viz-footer {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    .algo-viz-footer-rightside {
        gap: 1rem;
    }
}