.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:white;
    border-bottom: 1px #e5e7eb solid;
    display: flex;
    justify-content:space-around;
    height: 4em;
    z-index: 1000;
    
}
.left-side{
    /* border:1px black solid ; */
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: center;
    /* margin-left: 176px; */
}
.Algoviz{
    display: flex;
    font-weight: 700;
    cursor: pointer;
}
.algo{
    font-size: 24px;
}
.viz{
    color: #6B7280;
    font-size: 24px;
    font-weight:600;
}
.nav-logo {
    height: 30px;
    width: 34px;
    margin-right: 1px;
}

.right-side{
    
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
    /* margin-right: 176px; */
    /* text-decoration: underline; */
}

.header-buttons{
    background-color: transparent;
    color: black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border: none;
    position: relative;
    cursor: pointer;
    padding: 0.5em;
    margin-left:50px ;
}
.header-buttons:hover{
    color:#4d4e57;
}

.header-buttons::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: rgb(29, 19, 19);
    transition: width 0.3s ease;
}

.header-buttons:hover::after {
    width: 100%;
}

.get-started-button{
    margin-top:0.5rem;
    height:3rem;
    background-color: black;
    color: white;
    padding: 0.1em 1.8em;
    margin-left:50px ;
    border-radius: 0.375rem;
    border-width: 1px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight:510;
    position: relative;
    cursor: pointer;
}
.hamburger{
    display: none;
    /* display: flex; */
    align-items: center;
}
@media (max-width: 768px) {
    .right-side {
        display: none;
    }
    
    .hamburger {
        display: flex;
        align-items: center;
    }
    .left-side{
        margin-left: 0;
        justify-content: center;
        flex: 1;
    }
}

.hamburger-button{
    background-color: white;
    border: none;
    color:rgb(107 114 128);
    cursor: pointer;
}
.hamburger-button:hover {
    color: #000;
}
